.btn{
    display: block;
    cursor: pointer;
    border-radius: .8rem;
    border: none;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--background-color);
    background-color: var(--color-title);
    padding: .3rem 1rem;
    max-width: fit-content;
} 
