.header {
    display: flex;
    padding: .5rem 2rem;
    justify-content: space-between;
    align-items: center;
}

.header > div {
    flex-grow: 1;
    flex-shrink: 1;
}

.header > div:nth-child(2){
    text-align: center;
}

.header > div:nth-child(3){
    display: flex;
    justify-content: end;
}
