.header {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    padding:  .8rem 2rem;
}

.header > div{
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    display: flex;
}

.header > .header__section_1{
    display: none;
    justify-content: start;
}

.header > .header__section_2{
    justify-content: center;
    min-width: fit-content;
}

.header > .header__section_3{
    justify-content: end;
}


@media (min-width: 542px){
    .header__section_2{
        margin: 0 1rem;
        justify-content: center;
    }

    .header > .header__section_1{
        display: flex;
    }
}

