.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav__list{
    margin: .5rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

.nav__list__item__a{
    color: var(--text-color);
    text-decoration: none;
}
