.product_card{
    border-radius: .5rem;
    height: fit-content;
    overflow: hidden;
    background-color: var(--background-section);
}

.product_card__image{
    overflow: hidden;
    width: 100%;
    height: 60%;
}

.product_card__image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.product_card__content{
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.product_card__content__prices{
    color: var(--color-title);
}

.product_card__content__title{
    
}

.product_card__content > a {
    color: var(--color-primary);
    text-decoration: none
}
