.section{
    padding: 1rem;
}

.section__header{
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__header a{
    display: flex;
    align-items: center;
    color: var(--color-primary);
    text-decoration: none;
}

.section__header a i{
    font-size: 1.2rem;
    padding: .2rem .5rem;
}

@media (min-width: 542px){
    .section{
        padding: 1rem 3rem 3rem 3rem;
    }
}

@media (min-width: 1000px){
    .section{
        padding: 1rem 10% 1rem 10%;
    }
}
